/*

    BODY

*/

@font-face {
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/Kanit-Regular.woff2') format('woff2');
}
  
@font-face {
font-family: 'Kanit';
font-style: italic;
font-weight: 400;
src: url('fonts/Kanit-Italic.woff2') format('woff2');
}

@font-face {
font-family: 'Kanit';
font-style: normal;
font-weight: 700;
src: url('fonts/Kanit-Bold.woff2') format('woff2');
}

@font-face {
font-family: 'Kanit';
font-style: italic;
font-weight: 700;
src: url('fonts/Kanit-BoldItalic.woff2') format('woff2');
}
  

body{
    font-family: 'Kanit', sans-serif;
    margin: 0px;
    padding: 0px;
}

main{
    min-height: 100vh;
}

/*

    HEADER

*/

header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: lightgray;
    height: 7rem;
}

.header_logo{
    width: 9rem;
}

.header_list{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 3rem;
    list-style-type: none;
    margin-right: 3rem;
}

.header_list li{
    font-size: 1.3rem;
    font-weight: bold;
}

/*

    FOOTER

*/

footer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    background-color: lightgray;
    height: 5rem;
}