/*

    BODY

*/

@font-face {
  font-family: "Kanit";
  font-style: italic;
  font-weight: 400;
  src: url("/static/font/Kanit-Italic.woff2") format("woff2");
}

@font-face {
  font-family: "Kanit";
  font-style: normal;
  font-weight: 400;
  src: url("/static/font/Kanit-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Kanit";
  font-style: italic;
  font-weight: 700;
  src: url("/static/font/Kanit-BoldItalic.woff2") format("woff2");
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --main-color: rgb(252, 247, 227);
}

body {
  font-family: "Kanit", sans-serif;
  margin: 0px;
  padding: 0px;
}

main{
    min-height: calc(100vh - 112px - 80px);
    display: flex;
    flex-direction: column;
}

.container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

a {
  text-decoration: none;
  color: black;
}

.centered{
  display: flex;
  align-items: center;
  justify-content: center;
}

/*

    HEADER

*/

header {
  display: flex;
  align-items: center;

  background-color: var(--main-color);
  height: 7rem;
}

header .container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

header nav a::after {
  content: "";
  display: block;
  height: 2px;
  width: 0%;
  background-color: black;
  transition: 150ms ease-in-out;
}

header nav a:hover::after {
  width: 100%;
}

.header_logo {
  height: 5rem;
}

.header_list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 3rem;
  list-style-type: none;
  margin-right: 3rem;
}

.header_list li {
  font-size: 1.3rem;
}

/*

    FOOTER

*/

footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  background-color: var(--main-color);
  height: 5rem;
}

/*

    STORY

*/

.story-p {
  font-size: 1.15em;
  line-height: 1.8;
  color: #444;
  margin-bottom: 20px;
  text-align: justify;
}

.story-p:first-letter {
  font-size: 1.3em;
  font-weight: bold;
  color: #333;
}

/*

    WHY

*/

.table-container {
  max-width: 800px;
  margin: 20px auto;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: left;
}

th {
  background-color: #f5f5f5;
}

.papy-cailloux-video-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*

    SHOP

*/

.shop_img {
  max-width: 300px;
  max-height: 200px;
}



/*

    INDEX

*/

.index section:not(#banniere) {
  margin: 4rem 0;

  h2 {
    font-size: 2.5rem;
  }
}

#banniere {
  background-color: grey;
  position: relative;
  background-image: url('./../img/banniere_gigaboulet.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;

  h1 {
    position: absolute;
    color: white;
    font-size: 4em;
    margin: 0;
    top: 50%;
    transform: translateY(-50%);
    text-shadow: 0px 0px 1rem rgba(0, 0, 0, 0.3);
  }
}

/* #banniere h1 {
  position: absolute;
  color: white;
  font-size: 4em;
  margin: 0;
  top: 50%;
  transform: translateY(-50%);
  text-shadow: 0px 0px 1rem #333;
} */

#accueil {
  background-color: var(--main-color);
  .grid {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 3rem;
  }

  .text {
    margin: auto 0;
    h2 {
      margin: 0;
    }
  }

  .images {
    display: flex;
    height: 25rem;
    img {
      width: 50%;
      object-fit: cover;
    }
  }

  .flex-button {
    display: flex;
    align-items: center;
    background-color: #0070F5;
    border-radius: 0.5rem;
    display: block;
    width:fit-content;
    padding: 0.5rem;
    color: white;

    a {
      color: white;
    }

    i {
      margin-left: 0.5rem;
      transition: margin ease 100ms;

    }

    &:hover i{
      margin-left: 1rem;
    }
  }
}

#produits {

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
  }
  article {
    border-radius: 1rem;
    border: 1px solid #999;
    overflow: hidden;

    img {
      height: 15rem;
      width: 100%;
      object-fit: cover;
    }

    .text {
      padding: 1rem;
    }
  }
}

#services {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
  }

  li {
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 2rem;
    transition: transform 0.2s, box-shadow 0.2s;
  }

  li:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }

  i {
    font-size: 2rem;
    color: #0070F5;
  }
}


#avis {
  
  article {
    border-radius: 1rem;
    border: 1px solid #999;
    padding: 2rem;
  };
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem
  };

  i {
    color: rgb(255, 196, 0);
  }
}


#contact {
  a {
    text-decoration: underline;
  }
  form {
    display: flex;
    flex-direction: column;
    /* background-color: rgb(255, 246, 212); */
    border: 1px solid #999;
    border-radius: 1rem;
    padding: 2rem;
    margin: 2rem 0rem;

    textarea {
      resize: vertical;
    }
    input {
      width: 50%;
    }

    input, textarea {
      padding: 0.5rem;
      border-radius: 0.2rem;
      border: 0;
      border: 1px solid #999;
      /* background-color: rgb(243, 243, 243); */
    }

    button {
      margin-top: 1rem;
      border-radius: 0.5rem;
      font-size: 1rem;
      padding: 1rem;
      width: 10rem;
      background-color: #0070F5;
      color: white;
      border: none;
      font-weight: bold;
    }

    button:hover {
      cursor: pointer;
    }
  }
}